body{
  background-image:  linear-gradient(to bottom right, red, yellow);
}
.element{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.card{
  padding: 1rem;
  background-color: black;
  color: aliceblue;
  width: 23rem;
  display: flex;
  flex-direction: column;
  margin: 20px 0; 
}
.card div {
 text-align: center;
}
.card img{
  height: 200px;
}